<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="/views/blogs/CSS/normalize.css">
    <link rel="stylesheet" href="/views/blogs/CSS/contact.css"> -->
    <title>株式会社DIVE</title>
  </head>
  <body>
    <div class="container">
    <header class="header clearfix">
      <a href="blogs">
      <%= image_tag 'logo.png', class: 'logo_image' %>
      <!-- <img src="./images/logo.png" class="logo_image"> -->
      </a>
      <nav>
        <ul class="top_menu clearfix">
          <li><a href="blogs">ホーム</a></li>
          <li><a href="#">事業内容</a></li>
          <li><a href="#">会社概要</a></li>
          <li><a href="#">お問い合せ</a></li>
        </ul>
      </nav>
    </header>
    <%= image_tag 'contact.png', class: 'image_area' %>
    <!-- <img src="./images/contact.png" class="image_area"> -->
     <div class="wrapper clearfix">
    <aside class="side_menu">
      <nav>
        <ul>
          <li><a href="#">事業内容</a></li>
          <li><a href="#">会社概要</a></li>
          <li id="nav-question"><a href="#">お問い合わせ</a></li>
        </ul>
      </nav>

    </aside>

    <article class="content">
      <% @blogs.each do |blog| %>
        <table>
        <tr>
          <td><%= blog.content %></td>
          <td><%= link_to '詳細を確認する', blog_path(blog.id) %></td>
          <td><%= link_to "ブログを編集する", edit_blog_path(blog.id),data: { confirm: '本当に編集していいですか？' } %></td>
          <td><%= link_to 'ブログを削除する', blog_path(blog.id), method: :delete %></td>
        </tr>
        </table>
      <% end %>
      <%= link_to '新しくブログを投稿する', new_blog_path %>

  </article>

    </div>

    <footer class="footer">
          <p>© 2015-2018 Copyright DIVE INTO CODE Corp.</p>
    </footer>
      </div>
  </body>
</html>
